<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center mb-4 mt-4">
      <h1>Sistema SPA - Teste RedBelt</h1>
      <h2>Luiz Felipe P Carvalho</h2>
      <small>kranildo@gmail.com</small>
    </div>
  </div>
  <div class="row text-center">
    <div class="btn-group">
      <button class="btn btn-lg btn-primary" routerLink="/spa/create">Novo</button>
      <button class="btn btn-lg btn-secondary" routerLink="/spa/read">Listar</button>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
